$primaryColor: #1f8d49;
$secondaryColor:#deebdf;
$fontColor: #dce2eb;
$menuColor: rgb(236, 236, 236);

$defaultFont: 'Lato', sans-serif;
$normalWeight: 300;
$boldWeight: 700;

$gutter: 2%;
$gutterdbl: (2 * $gutter);
